body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgba(114, 112, 112, 0.5);
  color: rgb(239, 239, 239);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

form {
  width: 500px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: rgba(94, 92, 92, 0.988);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.7);
}

.email,
.age,
.password,
.confirmPassword {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3px 0px;
}

.email input,
.age input,
.password input,
.confirmPassword input {
  width: 90%;
  padding: 5px 0px;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.email label,
.age label,
.password label,
.confirmPassword label {
  width: 90%;
  margin: 3px 0px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.term {
  width: 90%;
  margin-top: 7px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.term input {
  width: 15px;
  height: 15 px;
  margin-right: 10px;
}

.button {
  width: 100%;
  margin-top: 10px;
  padding-bottom: 15px;
  display: flex;
  justify-content: center;
}

.button-item {
  width: 90%;
  padding: 10px 0px;
  border-radius: 5px;
  background-color: gold;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.button-item :hover {
  transform: scale(1.05);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

button:active {
  transform: scale(0.95);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.errors {
  font-size: 13px;
  color: red;
  display: flex;
  align-items: flex-start;
  align-self: flex-start;
  margin-left: 5%;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}
